<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <handlers>
                <add name="Python FastCGI"
                     path="*"
                     verb="*"
                     modules="FastCgiModule"
                     scriptProcessor="d:\users\taraya\appdata\local\continuum\anaconda3\envs\py37\python.exe|d:\users\taraya\appdata\local\continuum\anaconda3\envs\py37\lib\site-packages\wfastcgi.py"
                     resourceType="Unspecified"
                     requireAccess="Script"/>
            </handlers>
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="D:\taraya\2021寒假\应用能力大赛\old\old" />
            <add key="DJANGO_SETTINGS_MODULE" value="old.settings" />
        </appSettings>
    </configuration>