<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>养老院信息管理平台</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap -->
    <link href="{% static "plugins/bootstrap.css" %}" rel="stylesheet" />
    <link href="{% static "plugins/bootstrap-responsive.css" %}" rel="stylesheet" />
    <link href="{% static "plugins/bootstrap-overrides.css" %}" type="text/css" rel="stylesheet" />

    <!-- libraries -->
    <link href="{% static "css/lib/jquery-ui-1.10.2.custom.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/lib/font-awesome.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/morris.css" %}" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{% static "css/layout.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/elements.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/icons.css" %}" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="{% static "css/compiled/index.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "css/compiled/chart-showcase.css" %}" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!-- lato font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src = "{% static 'js/echarts.min.js' %}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div>

    <!-- navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <li style="margin-bottom:-30px; margin-top:20px"><font size="6px" color="white" >养老院信息管理平台</font></li>

            <ul class="nav pull-right">

                <li class="notification-dropdown hidden-phone">
                    <a href="#" class="trigger">
                        <i class="icon-warning-sign"></i>
                        <span class="count"></span>
                    </a>
                    <div class="pop-dialog">
                        <div class="pointer right">
                            <div class="arrow"></div>
                            <div class="arrow_border"></div>
                        </div>
                        <div class="body">
                            <a href={% url 'call' %} class="close-icon"><i class="icon-remove-sign"></i></a>
                            <div class="notifications">
                                <h3>你的传呼</h3>
                                {% for item in call %}
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> {{item.note}}
                                    <span class="time">{{item.location}}   <i class="icon-time"></i> {{item.time}}</span>
                                </a>
                                {% endfor%}
                                <div class="footer">
<!--                                    <a href="#" class="logout">View all notifications</a>-->
                                    <form action="/index/addcall/" method="POST">
                                        {% csrf_token %}

                                        地点：<input type="text" name="title"/><br/>
                                        备注：<textarea name="content"></textarea><br/>
                                        <button>添加</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="notification-dropdown hidden-phone">
                    <a href="#" class="trigger">
                        <i class="icon-envelope-alt"></i>
                    </a>
                    <div class="pop-dialog">
                        <div class="pointer right">
                            <div class="arrow"></div>
                            <div class="arrow_border"></div>
                        </div>
                        <div class="body">
                            <a href={% url 'call' %} class="close-icon"><i class="icon-remove-sign"></i></a>
                            <h4>你有几条新消息！</h4>
                            <br>
                            <div class="messages">

                                {% for item in note %}
                                <a href={% url 'call' %} class="item">
                                    <img src='{% static item.other.head %}' class="display" style="width:55px;" />
                                    <div class="name">{{item.other.name}}</div>
                                    <div class="msg">
                                        {{item.note}}
                                    </div>
                                    <span class="time"><i class="icon-time"></i> {{item.time}}</span>
                                </a>
                                {% endfor%}
                                <div class="footer">
<!--                                    <a href="#" class="logout">View all notifications</a>-->
                                    <form action="/index/addnote/" method="POST">
                                        {% csrf_token %}

                                        <div class="field-box">
                                            <br>
                                            <label style="float:left">收件人：</label>
                                            <select style="width:150px" class="select2" name="other">
                                                <option />
                                                {% for i in notme %}
                                                <option value= {{ i.id }}>{{i.name}}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <br>
                                        <div class="field-box">
                                            <label style="float:left"> 内容：</label>
                                            <textarea name="content" style="width:150px;"></textarea><br/>
                                        </div>
                                            <br>
                                        <div class="ui-group">
                                            <button class="btn-flat primary">发送</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>


                <li class="settings hidden-phone">
                    <a href="/logout/" role="button" title="退出登录">
                        <i class="icon-share-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- end navbar -->

    <!-- sidebar -->
    <div id="sidebar-nav" style="font-size:17px;">
        <ul id="dashboard-menu">
             <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                 <a href={% url 'index' %} >
                 <i class="icon-home"></i>
                 <span>主页</span>
                 </a>
            </li>
            <br>
            <li>
                <a href={% url 'oldinfo' %}>
                    <i class="icon-group"></i>
                    <span>老人信息</span>
                </a>
            </li>
            <br>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-edit"></i>
                    <span>买东西</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href={% url 'goodlist' %}>选择商品</a></li>
                    <li><a href={% url 'order' %}>查看订单</a></li>
                </ul>
            </li>
            <br/>
            <li>
                <a href={% url 'dailycheck' %}>
                    <i class="icon-th-large"></i>
                    <span>健康检查</span>
                </a>
            </li>
            <br/>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-calendar-empty"></i>
                    <span>活动</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href={% url 'actlist' %}>选择活动</a></li>
                    <li><a href={% url 'calender' %}>我的日程</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->


	<!-- main container -->
    <div class="content">

        <!-- settings changer -->
        <div class="container-fluid">
             <!-- upper main stats -->
            <div id="main-stats">
                <div class="row-fluid stats-row">
                    <div class="span12 stat">
                        <div class="data" style="float:left;">
                            <span class="number">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;亲爱的{{name}}！</span>
                            你好，欢迎登陆。

                        </div>
                            <div id="show_time" style="font-size:18px;margin-right:100px;">  
                            <script>  
                            //这里代码多了几行，但是不会延迟显示，速度比较好，格式可以自定义，是理想的时间显示
                            setInterval("fun(show_time)",1);
                            function fun(timeID){ 
                            var date = new Date();  //创建对象  
                            var y = date.getFullYear();     //获取年份  
                            var m =date.getMonth()+1;   //获取月份  返回0-11  
                            var d = date.getDate(); // 获取日  
                            var w = date.getDay();   //获取星期几  返回0-6   (0=星期天) 
                            var ww = ' 星期'+'日一二三四五六'.charAt(new Date().getDay()) ;//星期几
                            var h = date.getHours();  //时
                            var minute = date.getMinutes()  //分
                            var s = date.getSeconds(); //秒

                            if(m<10){
                            m = "0"+m;
                            }
                            if(d<10){
                            d = "0"+d;
                            }
                            if(h<10){
                            h = "0"+h;
                            }


                            if(minute<10){
                            minute = "0"+minute;
                            }


                            if(s<10){
                            s = "0"+s;
                            }


                            document.getElementById(timeID.id).innerHTML =  y+"-"+m+"-"+d+"   "+h+":"+minute+":"+s+"  "+ww;
                            //document.write(y+"-"+m+"-"+d+"   "+h+":"+minute+":"+s);  
                              }
                            </script>  
                            </div>  
                    </div>

                </div>
            </div>
            <!-- end upper main stats -->
            <div id="pad-wrapper">
                <div class="row-fluid chart">
                    <img width=100% src="{% static 'img/head/backg2.jpg'%}"  alt="" />
                </div>
                <br>
                <br>
                <br>
                <br>
                <!-- morris stacked chart -->
                <div id="main" style="width: 900px;height: 600px;margin-left:auto;margin-right:auto;"></div>
                  <script type="text/javascript">

                      var myChar = echarts.init(document.getElementById('main'));
                      var option = {

                          title:{
                              text:'老人体检数据',
                              subtext: '每日变化',
                              x: 'left'
                          },
                      legend: {
                              data: ['体重', '低压', '高压', '体温','脉搏']
                          },
                          xAxis:{
                              type: 'category',
                              data:[
                                  {% for SQL_datum in chart %}
                                  '{{ SQL_datum.time }}',
                                  {% endfor %}],
                              name:"时间",

                          },
                          yAxis:{
                              type: 'value',
                          },
                          tooltip: {
                              trigger: 'axis'   // axis   item   none三个值
                               },
                          series:[
                              {
                              type: 'line',
                              data:[{% for SQL_datum in chart %}
                                  {{ SQL_datum.weight }},
                              {% endfor %}],
                              name:"体重",
                              },
                              {
                              type: 'line',
                              data:[{% for SQL_datum in chart %}
                                  {{ SQL_datum.lowbp }},
                              {% endfor %}],
                              name:"低压",
                              },
                          {
                              type: 'line',
                              data:[{% for SQL_datum in chart %}
                                  {{ SQL_datum.highbp }},
                              {% endfor %}],
                              name:"高压",
                              },
                          {
                              type: 'line',
                              data:[{% for SQL_datum in chart %}
                                  {{ SQL_datum.temperature }},
                              {% endfor %}],
                              name:"体温",
                              },
                          {
                              type: 'line',
                              data:[{% for SQL_datum in chart %}
                                  {{ SQL_datum.pulse }},
                              {% endfor %}],
                              name:"脉搏",
                              },
                          ]

                      };
                      myChar.setOption(option);
                  </script>
                <!-- morris stacked chart -->
                <br>
                <div id="main0" style="width: 900px;height: 600px;margin-left:auto;margin-right:auto;"></div>
                  <script type="text/javascript">

                      var myChar = echarts.init(document.getElementById('main0'));
                      var option = {

                          title:{
                              text:'消费分析',
                              subtext: '按类别统计',
                              x: 'left'
                          },
                      legend: {
                              data: ['消费金额']
                          },
                          xAxis:{
                              type: 'category',
                              data:[
                                  {% for SQL_datum in result %}
                                  '{{ SQL_datum.0 }}',
                                  {% endfor %}],
                              name:"类别",

                          },
                          yAxis:{
                              type: 'value',
                          },
                          tooltip: {
                              trigger: 'axis'   // axis   item   none三个值
                               },
                          series:[
                              {
                              type: 'bar',
                              data:[{% for SQL_datum in result %}
                                  {{ SQL_datum.1 }},
                              {% endfor %}],
                              name:"消费金额",
                              },

                          ]

                      };
                      myChar.setOption(option);
                  </script>
            </div>
        </div>
        </div>
    </div>

<!-- scripts for this page -->
    <script src="http://code.jquery.com/jquery-latest.js" ></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery-ui-1.10.2.custom.min.js" %}"></script>
    <!-- knob -->
    <script src="{% static "js/jquery.knob.js" %}"></script>
    <!-- flot charts -->
    <script src="{% static "js/jquery.flot.js" %}"></script>
    <script src="{% static "js/jquery.flot.stack.js" %}"></script>
    <script src="{% static "js/jquery.flot.resize.js" %}"></script>
    <!-- morrisjs -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="{% static "js/morris.min.js" %}"></script>
    <!-- call all plugins -->
    <script src="{% static "js/theme.js" %}"></script>

    <!-- build the charts -->
    <script type="text/javascript">


        // Build jQuery Knobs
        $(".knob").knob();



        //  jQuery Flot Chart
        var visits = [[1, 50], [2, 40], [3, 45], [4, 23],[5, 55],[6, 65],[7, 61],[8, 70],[9, 65],[10, 75],[11, 57],[12, 59]];
        var visitors = [[1, 25], [2, 50], [3, 23], [4, 48],[5, 38],[6, 40],[7, 47],[8, 55],[9, 43],[10,50],[11,47],[12, 39]];

        var plot = $.plot($("#statsChart"),
            [ { data: visits, label: "Signups"},
             { data: visitors, label: "Visits" }], {
                series: {
                    lines: { show: true,
                            lineWidth: 1,
                            fill: true,
                            fillColor: { colors: [ { opacity: 0.05 }, { opacity: 0.09 } ] }
                         },
                    points: { show: true,
                             lineWidth: 2,
                             radius: 3
                         },
                    shadowSize: 0,
                    stack: true
                },
                grid: { hoverable: true,
                       clickable: true,
                       tickColor: "#f9f9f9",
                       borderWidth: 0
                    },
                legend: {
                        // show: false
                        labelBoxBorderColor: "#fff"
                    },
                colors: ["#a7b5c5", "#30a0eb"],
                xaxis: {
                    ticks: [[1, "JAN"], [2, "FEB"], [3, "MAR"], [4,"APR"], [5,"MAY"], [6,"JUN"],
                           [7,"JUL"], [8,"AUG"], [9,"SEP"], [10,"OCT"], [11,"NOV"], [12,"DEC"]],
                    font: {
                        size: 12,
                        family: "Open Sans, Arial",
                        variant: "small-caps",
                        color: "#9da3a9"
                    }
                },
                yaxis: {
                    ticks:3,
                    tickDecimals: 0,
                    font: {size:12, color: "#9da3a9"}
                }
             });

        function showTooltip(x, y, contents) {
            $('<div id="tooltip">' + contents + '</div>').css( {
                position: 'absolute',
                display: 'none',
                top: y - 30,
                left: x - 50,
                color: "#fff",
                padding: '2px 5px',
                'border-radius': '6px',
                'background-color': '#000',
                opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }

        var previousPoint = null;
        $("#statsChart").bind("plothover", function (event, pos, item) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(0),
                        y = item.datapoint[1].toFixed(0);

                    var month = item.series.xaxis.ticks[item.dataIndex].label;

                    showTooltip(item.pageX, item.pageY,
                                item.series.label + " of " + month + ": " + y);
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    </script>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>